@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --max-width                   : 1000px;
      --color-text-primary          : 12, 76, 123;
      --color-text-button           : 255, 255, 255;
      --color-bg-primary            : 12, 76, 123;
      --color-text-warning          : 255, 177, 0, 1;
      --color-bg-warning            : 255, 177, 0, 1;
      --color-bg-list               : 255, 255, 255;
      --color-bg-primary-light      : 228, 234, 239;
      --color-bg-modal              : 0, 0, 0;
      --color-border-primary        : 12, 76, 123;
      --color-text-secondary        : 34, 197, 95;
      --color-text-secondary-light  : 248, 253, 250;
      --color-text-white            : 255, 255, 255;
      --color-text-icons            : 73, 121, 156;
      --color-bg-secondary          : 34, 197, 94;
      --color-bg-secondary-light    : 248, 253, 250;
      --color-border-secondary      : 34, 197, 94;
      --color-border-secondary-light: 248, 253, 250;
      --color-text-normal           : 15, 23, 42;
      --color-bg-background         : 233, 238, 244;
      --color-borderColor           : 237, 237, 237;
      --color-bg-light              : 238, 239, 240;
      --color-bg-receipt            : 255, 255, 255;
      --color-bg-input              : 231, 237, 242;
      --color-bg-button             : 12, 76, 123;
      --color-bg-button-disabled    : 133, 165, 189;
      --color-text-light            : 112, 149, 177;
      --color-nav-background        : 255, 255, 255;
      --color-bg-cards              : 255, 255, 255;
      --color-bg-hover-list         : 243, 246, 248;
    }
  
    :root[data-theme="dark"] {
      --max-width                   : 1000px;
      --color-text-primary          : 199, 225, 245;
      --color-text-button           : 12, 76, 123;
      --color-bg-primary            : 199, 225, 245;
      --color-text-warning          : 255, 177, 0, 1;
      --color-bg-warning            : 255, 177, 0, 1;
      --color-bg-list               : 12, 51, 79;
      --color-bg-primary-light      : 42, 80, 110;
      --color-bg-modal              : 12, 76, 123;
      --color-border-primary        : 12, 76, 123;
      --color-text-secondary        : 34, 197, 95;
      --color-text-secondary-light  : 3, 42, 64;
      --color-bg-secondary-light    : 6, 42, 63;
      --color-border-secondary-light: 22, 56, 81;
      --color-text-white            : 255, 255, 255;
      --color-bg-secondary          : 34, 197, 95;
      --color-border-secondary      : 34, 197, 95;
      --color-text-normal           : 199, 225, 245;
      --color-bg-background         : 40, 47, 54;
      --color-borderColor           : 23, 64, 94;
      --color-bg-light              : 77, 108, 130;
      --color-bg-input              : 77, 108, 130;
      --color-text-light            : 140, 169, 190;
      --color-nav-background        : 23, 64, 94;
      --color-bg-cards              : 2, 37, 64;
      --color-bg-receipt            : 0x22, 0x25, 0x40;
      --color-bg-button             : 199, 225, 245;
      --color-bg-button-disabled    : 23, 64, 94;
      --color-text-icons            : 150, 178, 199;
      --color-bg-hover-list         : 2, 37, 64;
    }
  
    :root[data-theme="light-colors"] {
      --max-width                   : 1000px;
      --color-text-primary          : #0c4c7b;
      --color-text-button           : #ffffff;
      --color-bg-list               : #ffffff;
      --color-bg-primary            : #0c4c7b;
      --color-bg-warning            : #FFB100;
      --color-bg-primary-light      : #e4eaef;
      --color-bg-modal              : #000000;
      --color-bg-danger             : #F0133B;
      --color-border-primary        : #0c4c7b;
      --color-text-secondary        : #22c55f;
      --color-text-secondary-light  : #f8fdfa;
      --color-text-white            : #ffffff;
      --color-text-icons            : #49799c;
      --color-bg-secondary          : #22c55e;
      --color-bg-secondary-light    : #f8fdfa;
      --color-border-secondary      : #22c55e;
      --color-border-secondary-light: #f8fdfa;
      --color-text-normal           : #0f172a;
      --color-bg-background         : #e9eef4;
      --color-borderColor           : #ededed;
      --color-bg-light              : #eeeff0;
      --color-bg-receipt            : #ffffff;
      --color-bg-input              : #e7edf2;
      --color-bg-button             : #0c4c7b;
      --color-bg-button-disabled    : #85a5bd;
      --color-text-light            : #7095b1;
      --color-nav-background        : #ffffff;
      --color-bg-cards              : #ffffff;
      --color-bg-hover-list         : #f3f6f8;
    }
  
    :root[data-theme="dark-colors"] {
      --max-width                   : 1000px;
      --color-text-primary          : #c7e1f5;
      --color-text-button           : #0c4c7b --color-bg-primary: #c7e1f5;
      --color-bg-list               : #0c334f;
      --color-bg-primary-light      : #2a506e;
      --color-bg-modal              : #0c4c7b;
      --color-bg-danger             : #F0133B;
      --color-bg-warning             : #FFB100;
      --color-border-primary        : #0c4c7b;
      --color-text-secondary        : #22c55f;
      --color-text-secondary-light  : #032a40;
      --color-bg-secondary-light    : #062a3f;
      --color-border-secondary-light: #163851;
      --color-text-white            : #ffffff;
      --color-bg-secondary          : #22c55f;
      --color-border-secondary      : #22c55f;
      --color-text-normal           : #c7e1f5;
      --color-bg-background         : #282f36;
      --color-borderColor           : #17405e;
      --color-bg-light              : #4d6c82;
      --color-bg-input              : #4d6c82;
      --color-text-light            : #8ca9be;
      --color-nav-background        : #17405e;
      --color-bg-cards              : #022540;
      --color-bg-receipt            : false;
      --color-bg-button             : #c7e1f5;
      --color-bg-button-disabled    : #17405e;
      --color-text-icons            : #96b2c7;
      --color-bg-hover-list         : #022540;
    }
  }
